.heading {
  padding-left: 30px;
}

.img {
  max-width: 700px;
  border-radius: 5% 5%;
  margin-left: 3vw;
  margin-right: 3vw;
  height: auto;
  width: 90vw;
  padding: 10px;
}

.text {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 30px;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  align-items: center;
  padding: 12px; /* Some padding */
  border: none;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 10px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #e5d8ca;
  font-family: lust, serif;
  font-style: italic;
  font-size: 0.9rem;
  color: #1b1b1b;
  padding: 12px 20px;
  border: none;
  /* border-radius: 15% 0%; */
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a different color */
input[type="submit"]:hover {
  background-color: #eee5dc;
  color: #1b1b1b;
  text-decoration: none;
  cursor: pointer;
}

/* Add some padding around the form */
.container {
  /* border-radius: 5% 5%; <--doesn't work... */
  padding: 30px;
}

/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.information {
  font-family: "Nunito Sans", sans-serif;
  padding-top: 10px;
}

.headlineform {
  padding-left: 30px;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex div {
  min-width: 200px;
}
