.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
  position: relative;
}

.navbar{
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: white;
  padding: 10px 0;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: left;
  text-transform: uppercase;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: gray;
}
.banner{
  background: url("../images/herocloud.png") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.icon{
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1200px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 20px;
    text-align: left;
    background: white;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}

.logo {
width: 150px;
position: absolute;
left: 50%;
top: 0;
content: "";
margin-left: -75px;
}

.icons-navbar {
  position: absolute;
  left: 80%;
  top: 0;
  content: "";
  font-size: 25px;
}

.icons-navbar a {
  padding: 13px;
  color: black;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.flex div {
  padding: 20px;
}

.smaksakapp {
  width: 100vw;
  height: 500px;
  background-color: #eee5dc;
}
.smaksakapp * {
  text-align: center;
  margin: auto;
  max-width: 50vw;
  display: block;
}
.review-container {
  width: 100vw;
  height: 400px;
  background-color: #f8efe6;
}
.review-container * {
  text-align: center;
  margin: auto;
  max-width: 50vw;
  display: block;
}
/*Our Values*/
.wrapper {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper h1 {
  margin: 25px 0;
  text-align: center;
}

.content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 30px;
}

.card {
  min-height: 220px;
  width: 320px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 4px;
}

.card i {
  margin: 20px;
}

.card h2 {
  margin-bottom: 12px;
  text-align: center;
}

.card p {
  text-align: center;
}

@media(max-width: 991px){
  .wrapper{
    padding: 25px;
  }
  .content-box{
    flex-direction: column;
    width: 100%;
  }
  .card{
    min-width: 300px;
    margin: 10px auto;
  }
}
