* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.flex div {
  padding: 20px;
}

/*Our Values*/
.wrapper {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper h1 {
  margin: 25px 0;
  text-align: center;
}

.content-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 30px;
}

.card {
  min-height: 220px;
  width: 320px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 4px;
}

.card i {
  margin: 20px;
}

.card h2 {
  margin-bottom: 12px;
  text-align: center;
}

.card p {
  text-align: center;
}

@media (max-width: 991px) {
  .wrapper {
    padding: 25px;
  }
  .content-box {
    flex-direction: column;
    width: 100%;
  }
  .card {
    min-width: 300px;
    margin: 10px auto;
  }
  .herobutton {
    margin-left: -20px;
    margin-top: -20px;
  }
  .hero h1 {
    margin-left: -20px;
    margin-top: 30px;
  }
  .text {
    display: none;
  }
}

.banner {
  background: url("../images/heroindex.png") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero {
  padding-left: 60px;
  padding-top: 300px;
}

/* icon background for div */
.icon {
  background-color: #eee5dc;
  height: 15vw;
  width: 15vw;
  border: 0px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}
.icon i {
  font-size: 8vw;
  padding: 4vw 0;
}
.icon img {
  width: 8vw;
  margin-top: 8vh;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 50px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}