@import url("https://fonts.cdnfonts.com/css/nunito-sans");

html,
body {
  margin: 0;
  background: linear-gradient(#fffbf9 0%, #f8efe6 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Text css: */
h1,
h2,
h3 {
  font-family: lust, serif;
  font-style: italic;
  font-weight: 700;
  padding: 10px;
  margin: 0;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14pt;
  padding: 10px;
  margin: 0;
}
h1 {
  font-size: 40pt;
}
h2 {
  font-size: 20pt;
}
h3 {
  font-size: 12pt;
}
/* Phone version */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 28pt;
  }
  h2 {
    font-size: 16pt;
  }
  h3,
  p {
    font-size: 10pt;
  }
}

/*
button class for normal buttons.
herobutton for the buttons on the hero section.
*/
button {
  border: 0px;
  transition: background-color 0.3s;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 20px;
}
.button {
  background-color: #e5d8ca;
  border: 0px;
  border-radius: 20px 5px;
}
.herobutton {
  background-color: rgba(255, 250, 246, 0.8);
  border-radius: 10px;
  text-align: left;
  padding: 8px;
  padding-right: 40px;
}
button:hover {
  background-color: #eee5dc;
}
/*
.footer {
  min-height: 100vh;
  display: grid;
  justify-content: end;
  align-content: end;
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #fffaf7;
}

footer .container-footer {
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

footer .container-footer .social-media {
  position: relative;
  margin-bottom: 15px;
}

.footer-description {
  max-width: 500px;
}

.social-media {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 15px;
}

.social-media li {
  list-style: none;
}

.social-media li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #eee5dc;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 15px;
}

.social-media li a:hover {
  background: #e6d8ca;
}

.social-media li .fa {
  color: black;
  font-size: 25px;
}

.meals {
  position: relative;
}

.meals li {
  list-style: none;
}

.meals li a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  display: inline-block;
}

.meals li a:hover {
  color: grey;
}

.discover {
  position: relative;
}

.discover li {
  list-style: none;
}

.discover li a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  display: inline-block;
}

.discover li a:hover {
  color: grey;
}

.more-info {
  position: relative;
}

.more-info li {
  list-style: none;
}

.more-info li a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  display: inline-block;
}

.more-info li a:hover {
  color: grey;
}

.contact {
  position: relative;
}

.contact li {
  list-style: none;
}

.contact li a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  display: inline-block;
}

.contact li a:hover {
  color: grey;
}

.logo-footer {
  width: 180px;
  position: absolute;
  left: 160px;
  bottom: 120px;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.flex-footer div {
  padding: 20px;
}
*/
