@import url("https://fonts.cdnfonts.com/css/nunito-sans");

html,
body {
  margin: 0;
  background: linear-gradient(#fffbf9 0%, #f8efe6 100%);
  background-size: cover;
  overflow-x: hidden;
}

/* Text css: */
h1,
h2,
h3 {
  font-family: lust, serif;
  font-style: italic;
  font-weight: 700;
  padding: 10px;
  margin: 0;
}
p,
a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14pt;
  padding: 10px;
  margin: 0;
}
h1 {
  font-size: 40pt;
}
h2 {
  font-size: 20pt;
}
h3 {
  font-size: 12pt;
}
/* Phone version */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 28pt;
  }
  h2 {
    font-size: 16pt;
  }
  h3,
  p {
    font-size: 10pt;
  }
}

/*
button class for normal buttons.
herobutton for the buttons on the hero section.
*/
button {
  border: 0px;
  transition: background-color 0.3s;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 20px;
}
.button {
  background-color: #e5d8ca;
  border: 0px;
  border-radius: 20px 5px;
}
.herobutton {
  background-color: rgba(255, 250, 246, 0.8);
  border-radius: 10px;
  text-align: left;
  padding: 8px;
  padding-right: 40px;
}
button:hover {
  background-color: #eee5dc;
}

footer {
  overflow-x: hidden;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  background: #fffaf7;
}

.flex-footer div {
  padding: 30px;
  position: relative;
}

.footer-description {
  width: 500px;
}

.footer-container div {
  position: relative;
}

.footer-container ul {
  padding: 8px;
  padding-left: 10px;
  margin: 0;
}

.footer-container li {
  list-style: none;
  text-align: left;
}

.footer-container li a {
  text-decoration: none;
  color: black;
}

.footer-container li a:hover {
  color: grey;
}

.footer-socials li {
  float: left;
  padding: 8px;
}

.footer-socials li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #eee5dc;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 15px;
}

.footer-socials li a:hover {
  background: #e6d8ca;
}

.footer-socials li .fa {
  color: black;
  font-size: 25px;
}

.footer-logo {
  background: #fffaf7;
  width: 150px;
  padding: 60px;
  position: relative;
  top: 80px;
  left: 120px;
  border-radius: 50%;
  box-sizing: content-box;
}

.footer-logo img {
  width: 150px;
}
