@import url("https://fonts.cdnfonts.com/css/nunito-sans");

html,
body {
  margin: 0;
  background: linear-gradient(#fffbf9 0%, #f8efe6 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Text css: */
h1,
h2,
h3 {
  font-family: lust, serif;
  font-style: italic;
  font-weight: 700;
  margin: 0;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14pt;
  padding: 5px;
  margin: 0;
}
h1 {
  font-size: 40pt;
  padding: 20px;
}
h2 {
  font-size: 20pt;
  padding: 10px;
}
h3 {
  font-size: 12pt;
  padding: 8px;
}
/* Phone version */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 28pt;
  }
  h2 {
    font-size: 12pt;
  }
  h3,
  p {
    font-size: 10pt;
  }
}

/*
button class for normal buttons.
herobutton for the buttons on the hero section.
*/
button {
  border: 0px;
  transition: background-color 0.3s;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 20px;
}
.button {
  background-color: #e5d8ca;
  border: 0px;
  border-radius: 20px 5px;
}
.herobutton {
  background-color: rgba(255, 250, 246, 0.8);
  border-radius: 10px;
  text-align: left;
  padding: 8px;
  padding-right: 40px;
}
button:hover {
  background-color: #eee5dc;
}
