.shop-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas:
    "hero hero hero"
    "content content content"
    ". display ."
    "footer footer footer";
}
.hero {
  grid-area: hero;
  width: 100%;
  height: 70vh;
  border-bottom: 1px solid #1b1b1b;
}
.hero div {
  position: relative;
  top: 25%;
  padding: 100px;
}
/* Hide hero section on phones */
@media only screen and (max-width: 800px) {
  .hero {
    display: none;
  }
}
.content {
  grid-area: content;
}
.display {
  grid-area: display;
  margin: auto;
  width: 80vw;
}
.footer {
  grid-area: footer;
}

/* Senses and search flexbox */
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}
.sense {
  font-weight: bold;
}
/* Phone version */
@media only screen and (max-width: 800px) {
  .flex {
    flex-wrap: wrap;
  }
  .sense {
    display: none;
  }
}

/* Product flexbox */
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.products img {
  border-radius: 10%;
  width: 350px;
}
.products div {
  margin: auto;
  text-align: center;
  width: 350px;
  padding: 4vw;
}
.product h2,
.product p {
  padding-left: 10px;
  padding-right: 10px;
}
/* Phone version */
@media only screen and (max-width: 800px) {
  .products {
    flex-direction: column;
  }
  .products img {
    width: 45vw;
  }
  .products div {
    padding: 30px;
    width: 60vw;
  }
  .products p {
    display: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.25);
}
.modal-content {
  position: relative;
  background: linear-gradient(#fffbf9 0%, #f8efe6 100%);
  margin: auto;
  padding: 20px;
  width: 60%;
  animation-name: modalopen;
  animation-duration: 0.4s;
}
.modal-products div {
  padding: 10px;
  float: left;
}
.modal-detail > div {
  width: 25vw;
}
/* Animations */
@keyframes modalopen {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes modalclose {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}
@keyframes idle {
  100% {
  }
}

/* The Close Button */
.close {
  color: #1b1b1b;
  float: right;
  font-size: 2em;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* icon background for div */
.icon {
  background-color: #eee5dc;
  height: 10vw;
  width: 10vw;
  border: 0px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}
