/*-----------Basic CSS styling------------*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3 {
  font-family: lust, serif;
  font-style: italic;
  font-weight: 700;
  margin: 0;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14pt;
  padding: 5px;
  margin: 0;
}
h1 {
  font-size: 40pt;
  padding: 20px;
}
h2 {
  font-size: 20pt;
  padding: 10px;
}
/*-----------Our Story styling------------*/
#story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.story.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.story-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
  border-radius: 15%;
}

.story {
  margin: 20px;
  width: 500px;
  height: 700px;
}

.story-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15%;
}

.story-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.story-text p {
  margin: 20px 0px;
}
